* {
  margin: auto;
}
html, body {
  background: #444;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}
video, canvas {
  background: #000;
  border: 8px solid silver;
}
video.blue {
  border-color: #bbf;
}
video, progress, img.fallback {
  width: 264px;
  display: block;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
progress {
  width: 280px;
  opacity: 0;
}
progress, a {
  margin: 8px auto;
}
a {
  display: block;
  width: 280px;
  background: #bbf;
  color: #111;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px 0;
}